#idzdy1{visibility:hidden;}
#sutjbt2{visibility:hidden;}
#kj_right #laczts {color: white; display: inline-block; padding: 6px 12px; border-radius: 6px; background: #58e;} 
.z_bo:nth-child(2) ul li:first-child {color: #e22} 
#L2773991 .lynr div {color: #f22}
#ml_2132687 {background: #faffdb}
#ml_2235248 {background: #e4fff4}
#ml_2065586 {background: #dbfffd}
#ml_2115225 {background: #fcdbff}
div {color: #4f0e54}
.ta_wjq div {color: #efe5}
.fgg4 {background: #cfcb}
.fgg4 #idtop {background: #00450d}